.fileInput{
    display: none;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.form{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    gap: 20px;
}
.selectPrivacy{
    width: fit-content;
    padding: 5px;
}

.addFile{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.addFile:hover{
    background-color: #ccc;
}

.textInput{
    border: 1px solid #ccc;
    height: 100px;
    text-align: left;
    padding: 10px;
    overflow: auto;
    
}