.container{
    max-height: 200px;
    overflow: auto;
    max-width:300px ;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: auto;
    position: absolute;
    width: 200px;
    max-height: 300px;
    transform: translateX(-50%);
    background-color: white;
    z-index: 5;
}

.addMember{
    background: none;
    cursor: pointer;
}

.fullUser{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.fullUser:hover{
    filter: brightness(0.9);
}