@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins','sans-serif';
}

:root {
    --main-color: #1877F2;
    --second-color: #4490f3;
}

.notification-container {
    position: relative;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--second-color) #f1f1f1;
    margin-bottom: 15px;
    z-index: 2;
}

.notification-container .accepte {
    background-color: var(--second-color);
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.notification-container .accepte:hover {
    background-color: var(--main-color);
}

.notification-container .refuse {
    background-color: #a5a1a1;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.notification-container .refuse:hover {
    background-color: #747070;
}


/* Custom scrollbar styling for WebKit-based browsers */
.notification-container::-webkit-scrollbar {
    width: 6px;
}

.notification-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.notification-container::-webkit-scrollbar-thumb {
    background: var(--second-color);
    border-radius: 10px;
}

.notification-container::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
}


/*notification div*/
.notification-div{
    background: white;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/*notification count*/
.notification-wrapper {
    position: relative; 
    display: inline-block; 
}

.count {
    position: absolute;
    top: 8px;
    right: 14px; 
    background: red;
    color: white;
    border-radius: 50%;
    padding-top: 2px;
    font-size: 10px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px; 
    height: 17px; 
    cursor: pointer;
    z-index: 10;
}